---
import { Image } from 'astro:assets'
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import OverlappingAvatars from '@/components/about/OverlappingAvatars.astro'
import CommunityStats from '@/components/about/CommunityStats.astro'
import Sponsors from '@/components/sponsorship/Sponsors.astro'
import Sponsorship from '@/components/sponsorship/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import wechat from '@/assets/wechat-qrcode.jpg'
import avatar from '@/assets/vapourx-clean.jpg'

const headings = [
  { depth: 2, slug: 'what-we-are-doing', text: '我们正在做的' },
  { depth: 2, slug: 'logo-meaning', text: 'Logo含义' },
  { depth: 2, slug: 'what-we-need', text: '我们需要的' },
  { depth: 2, slug: 'team', text: '核心团队' },
  { depth: 2, slug: 'about-blog', text: '大事记' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='What is VapourX' {headings} info='/about'>
  <h2 id='what-we-are-doing'>
    我们正在做的！
  </h2>
  <p>
    VapourX 正在汇聚一群对具身智能充满热情的爱好者、专业人士和研究人员，致力于推动人类、数字人和机器人之间的自然交互，促使具身智能从研究走向现实，在产业与创新中实现无缝演进，逐步实现具身智能走入千家万户。这是一个不断上升、不断扩充的社区，Vapour代表不断蒸腾的力量，X代表无限的链接和未知的探索。
  </p>

  <h2 id='logo-meaning'>
    Logo含义
  </h2>
  <Image src={avatar} alt="Logo" class="w-1/4" />
  <p>
    VapourX 的标志凝聚了我们对未来具身智能的愿景与信念。左侧放射状的图形，灵感来自神经元网络与群体协作系统，象征着人类、数字人和机器人之间高度自然且动态的感知连接。中央文字以现代几何字体呈现，融合断裂与弧度的设计语言，传达出智能系统的有机性与进化性，而结尾的 “X” 则代表交互、未知与融合的前沿探索。整体黑白配色简洁而充满力量，彰显 VapourX 作为一个面向未来、连接现实与虚拟的具身智能社区，将科技、人性与协同创新无缝交织，激励我们共同走向智能交互的新纪元。
  </p>
  <h2 id='what-we-need'>我们需要的！</h2>
  <p>我们欢迎来自各个阶段、各个背景的伙伴加入 VapourX：</p>
  <ul>
    <li>在具身智能领域深耕多年的研究者</li>
    <li>刚踏入具身智能世界的探索者</li>
    <li>在其他领域已有技术积累、希望转向具身智能的开发者</li>
    <li>对具身智能充满好奇与热情的爱好者</li>
  </ul>
  <p>
    无论你是经验丰富的专家，还是怀揣好奇心的新人，只要你热爱具身智能，并愿意为社区贡献力量，这里都为你敞开大门。
  </p>
  <p>
    如果你想要加入VapourX，请通过以下方式联系我们：
  </p>
  <ul>
    <li>邮箱：<a href='mailto:vapourx-open-forum@outlook.com'>vapourx-open-forum@outlook.com</a></li>
    <li>成员信息表单：<a href='/member-form'>填写成员信息表单</a> - 填写完成后可下载对应的JSON文件，将该文件附在邮件中发送给我们</li>
  </ul>

  {/* team members */}
  <h2 id='team'>社区小伙伴</h2>
  <p>欢迎所有有志于投身社区建设的朋友们！</p>
  

  <OverlappingAvatars
    class='mb-5'
    title='核心团队成员'
    filterByRole={['社区创始人', '核心成员', '社区运营维护']}
    maxDisplay={10}
  />

  <OverlappingAvatars
    class='mb-5'
    title='内容创作者'
    filterByRole={['Blog Writer', '内容创作者']}
    maxDisplay={10}
  />

  <div class='mt-6 flex flex-wrap gap-3'>
    <Button title='查看所有成员' href='/peoples' style='ahead' class='w-fit' />
    <Button title='查看所有成员标签' href='/peoples/tags' style='ahead' class='w-fit' />
  </div>

  {/* about-blog */}
  <h2 id='about-blog'>大事记</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-08-11',
        content:
          '完成了基本的网站开发，成员开始进驻社区并且开始进行社区活动筹备。'
      },
      {
        date: '2025-08-01',
        content:
          '网站开始进行开发，由Andreo设计了网页，并且由ACondawayUNo进行了信息的补充'
      },
      {
        date: '2025-06-21',
        content: '由ACondawayUNo、Tourist以及VioletEvar联合发布修订版ScaleLab实习生指南。'
      },
      {
        date: '2025-05-01',
        content: '由HuaiNan设计的社区Logo首次亮相。'
      }
    ]}
  />
  <h2>致谢</h2>
  <ul>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://netlify.com/' target='_blank'>Netlify</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://leancloud.app/' target='_blank'>LeanCloud</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>

  {/* sponsorship */}
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' },
    ]}
  />
  <Comment slot='bottom' />
</PageLayout>
