---
import { Image } from 'astro:assets'
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import WhoWeAre from '@/components/about/who-we-are.astro'
import CommunityStats from '@/components/about/CommunityStats.astro'
import Sponsors from '@/components/sponsorship/Sponsors.astro'
import Sponsorship from '@/components/sponsorship/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import wechat from '@/assets/wechat-qrcode.jpg'
import avatar from '@/assets/vapourx-clean.jpg'

const headings = [
  { depth: 2, slug: 'what-we-are-doing', text: '我们正在做的' },
  { depth: 2, slug: 'logo-meaning', text: 'Logo含义' },
  { depth: 2, slug: 'what-we-need', text: '我们需要的' },
  { depth: 2, slug: 'team', text: '核心团队' },
  { depth: 2, slug: 'social-networks', text: '社交媒体' },
  { depth: 2, slug: 'about-blog', text: '大事记' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='What is VapourX' {headings} info='/about'>
  <h2 id='what-we-are-doing'>
    我们正在做的！
  </h2>
  <p>
    VapourX 正在汇聚一群对具身智能充满热情的爱好者、专业人士和研究人员，致力于推动人类、数字人和机器人之间的自然交互，促使具身智能从研究走向现实，在产业与创新中实现无缝演进，逐步实现具身智能走入千家万户。这是一个不断上升、不断扩充的社区，Vapour代表不断蒸腾的力量，X代表无限的链接和未知的探索。
  </p>

  <h2 id='logo-meaning'>
    Logo含义
  </h2>
  <Image src={avatar} alt="Logo" class="w-1/4" />
  <p>
    VapourX 的标志凝聚了我们对未来具身智能的愿景与信念。左侧放射状的图形，灵感来自神经元网络与群体协作系统，象征着人类、数字人和机器人之间高度自然且动态的感知连接。中央文字以现代几何字体呈现，融合断裂与弧度的设计语言，传达出智能系统的有机性与进化性，而结尾的 “X” 则代表交互、未知与融合的前沿探索。整体黑白配色简洁而充满力量，彰显 VapourX 作为一个面向未来、连接现实与虚拟的具身智能社区，将科技、人性与协同创新无缝交织，激励我们共同走向智能交互的新纪元。
  </p>
  <h2 id='what-we-need'>我们需要的！</h2>
  <ul>
    <li>具身智能领域深耕的研究者。</li>
    <li>初出茅庐的具身智能小白。</li>
    <li>在其他领域有技术积累并想要转向具身智能的开发者。</li>
    <li>对具身智能有兴趣的爱好者。</li>
  </ul>
  <p>
    总的来说，只要你对具身智能有热情，想要为社区做出各种意义的贡献，欢迎你加入VapourX的大家庭！
  </p>
  <p>
    如果你想要加入VapourX，请通过以下方式联系我们：
  </p>
  <ul>
    <li>邮箱：<a href='mailto:vapourx-open-forum@outlook.com'>vapourx-open-forum@outlook.com</a></li>
  </ul>

  {/* team members */}
  <h2 id='team'>核心团队</h2>
  <p>欢迎所有有志于投身社区建设的朋友们！</p>
  
  {/* 社区统计 */}
  <CommunityStats
    class='mb-5'
    title='社区统计'
    stats={[
      {
        label: '核心成员',
        value: '3',
        icon: 'github',
        description: '核心团队成员',
        link: 'https://github.com/VapourX-ScaleLab'
      },
      {
        label: 'GitHub 关注者',
        value: '动态统计',
        icon: 'github',
        description: 'GitHub Org 关注者',
        link: 'https://github.com/VapourX-ScaleLab'
      },
      {
        label: '社区活跃度',
        value: '高',
        icon: 'github',
        description: '基于贡献和互动',
        color: '#10B981'
      }
    ]}
  />

  <WhoWeAre
    class='mb-5'
    title='团队成员'
    members={[
      {
        name: 'ACondawayUNo（徐聪晟）',
        avatar: 'https://avatars.githubusercontent.com/u/115391544?v=4',
        organization: 'SJTU ScaleLab',
        role: '社区创始人',
        slogan: '人机合一，化具象为抽象。',
        href: '/peoples/acondaway'
      },
      {
        name: 'Andreo（杨锦畅）',
        avatar: 'https://avatars.githubusercontent.com/u/33977087?v=4',
        organization: 'SJTU',
        role: '社区网页设计师',
        slogan: '我不是关羽',
        href: '/peoples/andreo'
      },
      {
        name: 'Violet（刘伊天）',
        avatar: 'https://avatars.githubusercontent.com/u/113980234?v=4',
        organization: 'SJTU ScaleLab',
        role: '社区运营团队负责人',
        slogan: '我也是个人',
        href: '/peoples/violet'
      },
      {
        name: 'HuaiNan（帅哲）',
        avatar: 'https://avatars.githubusercontent.com/u/165187020?v=4',
        organization: 'SJTU DS',
        role: '社区视觉传达总设计师',
        slogan: '我也是个人',
        href: '/peoples/huainan'
      }
    ]}
  />


  {/* about-blog */}
  <h2 id='about-blog'>大事记</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-08-01',
        content:
          '网站开始进行开发，由Andreo设计了网页，并且由ACondawayUNo进行了信息的补充'
      },
      {
        date: '2025-06-21',
        content: '由ACondawayUNo、Tourist以及VioletEvar联合发布修订版ScaleLab实习生指南。'
      },
      {
        date: '2025-05-01',
        content: '由HuaiNan设计的社区Logo首次亮相。'
      }
    ]}
  />
  <h2>致谢</h2>
  <ul>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://netlify.com/' target='_blank'>Netlify</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://leancloud.app/' target='_blank'>LeanCloud</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>

  {/* sponsorship */}
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: 'Anonymous', amount: '20.00', date: '2022-04-06' },
    ]}
  />
  <Comment slot='bottom' />
</PageLayout>
