---
import links from 'public/links.json'
import config from 'virtual:config'

import { Comment } from 'astro-pure/advanced'
import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { orgs, friends } = links
const linksConf = config.integ.links
---

<PageLayout title='友情链接' {headings} info='/links'>
  <p>一个好的社区，需要更多更好的社区和机构的支持。</p>
  <h2 id='common-links'>合作社区与机构</h2>
  <FriendList list={orgs[0]} />
  <h2 id='special-links'>合作企业</h2>
  <FriendList list={friends[0]} />
  <Comment slot='bottom' />
</PageLayout>
